.experience__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
}

.experience__skills  {
    background: var(--color-bg-variant);
    padding: 2.4rem 5rem;
    border-radius: 2rem;
    border: 1px solid transparent;
    transition: var(--transition);
}

.experience__tools  {
    background: var(--color-bg-variant);
    padding: 2.4rem 5rem;
    border-radius: 2rem;
    border: 1px solid transparent;
    transition: var(--transition);
}

.experience__container > div:hover {
    background: transparent;
    border-color: var(--color-primary-variant);
    cursor: default;
}

.experience__container > div h4 {
    text-align: center;
    margin-bottom: 3rem;
    color: var(--color-primary);
}

.experience__content {
    display: grid;
    margin: 1em auto;
    grid-template-columns: 1fr 1fr;
    grid-gap: 2rem;
    
}

.experience__details-div {
    position: relative;
    display: grid;
    grid-template-columns:2rem 2rem;
    
}
.experience__details-icon {
    position: relative; 
    top: 0.1em; 
    color: var(--color-primary); 
}

/* ============= media queries - medium devices =============== */
@media screen and (max-width: 1270px){
    .experience__skills {
        padding: 2.4rem 2rem;
    }
    .experience__tools {
        padding: 2.4rem 2rem;
    }
}

@media screen and (max-width: 1024px) {
    
    .experience__container {
        width: 100%;
        flex-direction: column;
        display: flex;
    }
    
 }